<p>subject works!</p>

<pre>
| Тип Subject        | Початкове значення   | Повторна емісія старих значень   | Коли надсилає значення | Використання                               |
| ------------------ | -------------------- | ------------------------------   | ---------------------- | ------------------------------------------ |
| `Subject`          | ❌ Ні                | ❌ Ні                           | Лише нові значення     | Базовий мультикастінг                      |
| `BehaviorSubject`  | ✅ Так               | ✅ Останнє                      | Одразу і далі          | Стейт, форми, значення за замовчуванням    |
| `ReplaySubject(n)` | ❌ Ні                | ✅ n останніх                   | Всі n значень          | Історія подій                              |
| `AsyncSubject`     | ❌ Ні                | ✅ Одне (останнє)               | Після `complete()`     | Одноразові значення (наприклад, фінал API) |

</pre>
<button (click)="emit('Hello')">Emit 'Hello'</button>
<ul>
  <li *ngFor="let msg of messages">{{ msg }}</li>
</ul>
