<p>take works!</p>
<pre>
  | Оператор                 | Що робить                | Типова мета                    |
  | ------------------------ | ------------------------ | ------------------------------ |
  | `take(n)`                | Беремо лише `n` перших   | Обмежити кількість значень     |
  | `takeUntil(trigger$)`    | Відписка при події       | Автоматична відписка           |
  | `skip(n)`                | Пропустити `n` перших    | Пропустити початкові значення  |
  | `debounceTime(ms)`       | Чекає тишу перед емісією | Фільтрація "шуму", напр., ввід |
  | `distinctUntilChanged()` | Пропускає дублікати      | Уникнути зайвих реакцій        |
  </pre
>

<a href="https://rxmarbles.com/#take">rxmarbles.com/#take</a>
<br /><br />
<div>
  <img src="/assets/img/take.png" alt="zip" />
</div>

<h3>take(3)</h3>
<ul>
  <li *ngFor="let v of values">{{ v }}</li>
</ul>
