<p>debounce-time works!</p>
<pre>
    | Оператор                 | Що робить                | Типова мета                    |
    | ------------------------ | ------------------------ | ------------------------------ |
    | `take(n)`                | Беремо лише `n` перших   | Обмежити кількість значень     |
    | `takeUntil(trigger$)`    | Відписка при події       | Автоматична відписка           |
    | `skip(n)`                | Пропустити `n` перших    | Пропустити початкові значення  |
    | `debounceTime(ms)`       | Чекає тишу перед емісією | Фільтрація "шуму", напр., ввід |
    | `distinctUntilChanged()` | Пропускає дублікати      | Уникнути зайвих реакцій        |
</pre>

<h3>debounceTime(500ms)</h3>
<input [formControl]="inputControl" placeholder="Type here..." />
<p>Stabilized value: {{ value }}</p>
