<p>distinct-until-changed works!</p>

<pre>
    | Оператор                 | Що робить                | Типова мета                    |
    | ------------------------ | ------------------------ | ------------------------------ |
    | `take(n)`                | Беремо лише `n` перших   | Обмежити кількість значень     |
    | `takeUntil(trigger$)`    | Відписка при події       | Автоматична відписка           |
    | `skip(n)`                | Пропустити `n` перших    | Пропустити початкові значення  |
    | `debounceTime(ms)`       | Чекає тишу перед емісією | Фільтрація "шуму", напр., ввід |
    | `distinctUntilChanged()` | Пропускає дублікати      | Уникнути зайвих реакцій        |
</pre>
<p>
  <b> порівнює кожне нове значення тільки з попереднім </b>
</p>

<input [formControl]="inputControl" placeholder="Type here..." />
<ul>
  <li *ngFor="let v of values">{{ v }}</li>
</ul>
