<p>timeout works!</p>

<pre>
    | Оператор                   | Що робить                                         | Типова мета                            |
    | -------------------------- | ------------------------------------------------- | -------------------------------------- |
    | `throttleTime(ms)`         | Пропускає лише одне значення за вказаний інтервал | Обмежити частоту подій (напр. кліки)   |
    | `delay(ms)`                | Затримує емісію на вказаний час                   | Симуляція асинхронності або очікування |
    | `buffer(closingNotifier$)` | Збирає значення в масив до події                  | Групування значень                     |
    | `timeout(ms)`              | Генерує помилку, якщо значення не прийшло вчасно  | Виявити зависання або затримку         |   
</pre>

<p>{{ result }}</p>
