<div class="main">
  <div>
    <ul class="navigation">
      <li>
        <a routerLink="base" routerLinkActive="active">
          <span> base </span>
        </a>
      </li>
      <li>
        <a routerLink="on-destroy" routerLinkActive="active"
          ><span>on-destroy</span>
        </a>
      </li>
      <li>
        <a routerLink="on-destroy-2" routerLinkActive="active"
          ><span>Manually terminating an Observable with an error</span>
        </a>
      </li>
      <li>
        <a routerLink="catch-eror" routerLinkActive="active"
          ><span>catch-eror</span>
        </a>
      </li>
      <li>
        <a routerLink="retry" routerLinkActive="active"><span>retry</span> </a>
      </li>
      <li>
        <a routerLink="number-observable" routerLinkActive="active"
          ><span>number observable</span>
        </a>
      </li>

      <li>
        <a routerLink="basic-observable" routerLinkActive="active"
          ><span>basic-observable</span>
        </a>
      </li>
      <li>
        <a routerLink="api-request-service" routerLinkActive="active"
          ><span>api-request-service</span>
        </a>
      </li>
      <li>
        <a routerLink="of" routerLinkActive="active"><span>of</span> </a>
      </li>
      <li>
        <a routerLink="from-1" routerLinkActive="active"
          ><span>from 1</span>
        </a>
      </li>
      <li>
        <a routerLink="from-2" routerLinkActive="active"
          ><span>from 2</span>
        </a>
      </li>
      <li>
        <a routerLink="interval" routerLinkActive="active"
          ><span>interval</span>
        </a>
      </li>
      <li>
        <a routerLink="timer" routerLinkActive="active"><span>timer</span> </a>
      </li>
      <li>
        <a routerLink="fromEvent" routerLinkActive="active"
          ><span>fromEvent</span>
        </a>
      </li>
      <li>
        <a routerLink="map" routerLinkActive="active"><span>map</span> </a>
      </li>
      <li>
        <a routerLink="filter" routerLinkActive="active"
          ><span>filter</span>
        </a>
      </li>
      <li>
        <a routerLink="scan" routerLinkActive="active"><span>scan</span> </a>
      </li>
      <li>
        <a routerLink="merge-map" routerLinkActive="active"
          ><span>merge-map</span>
        </a>
      </li>
      <li>
        <a routerLink="switch-map" routerLinkActive="active"
          ><span>switch-map</span>
        </a>
      </li>
      <li>
        <a routerLink="concat-map" routerLinkActive="active"
          ><span>concat-map</span>
        </a>
      </li>
      <li>
        <a routerLink="combine-latest" routerLinkActive="active"
          ><span>combine-latest</span>
        </a>
      </li>
      <li>
        <a routerLink="merge" routerLinkActive="active"><span>merge</span> </a>
      </li>
      <li>
        <a routerLink="concat" routerLinkActive="active"
          ><span>concat</span>
        </a>
      </li>
      <li>
        <a routerLink="zip" routerLinkActive="active"><span>zip</span> </a>
      </li>
      <li>
        <a routerLink="take" routerLinkActive="active"><span>take</span> </a>
      </li>
      <li>
        <a routerLink="take-until" routerLinkActive="active"
          ><span>take-until</span>
        </a>
      </li>
      <li>
        <a routerLink="take-until-2" routerLinkActive="active"
          ><span>take-until-2</span>
        </a>
      </li>
      <li>
        <a routerLink="skip" routerLinkActive="active"><span>skip</span> </a>
      </li>
      <li>
        <a routerLink="debounce-time" routerLinkActive="active"
          ><span>debounce-time</span>
        </a>
      </li>
      <li>
        <a routerLink="distinct-until-changed" routerLinkActive="active"
          ><span>distinct-until-changed</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
