<div class="main">
  <div>
    <ul class="navigation">
      <li>
        <a routerLink="base" routerLinkActive="active">
          <span> base </span>
        </a>
      </li>
      <li>
        <a routerLink="on-destroy" routerLinkActive="active"
          ><span>on-destroy</span>
        </a>
      </li>
      <li>
        <a routerLink="take-until" routerLinkActive="active"
          ><span>take-until</span>
        </a>
      </li>
      <li>
        <a routerLink="number-observable" routerLinkActive="active"
          ><span>number observable</span>
        </a>
      </li>

      <li>
        <a routerLink="of" routerLinkActive="active"><span>of</span> </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
