<div class="main">
  <div>
    <ul class="navigation">
      <li>
        <a routerLink="base" routerLinkActive="active">
          <span> base </span>
        </a>
      </li>
      <li>
        <a routerLink="on-destroy" routerLinkActive="active"
          ><span>on-destroy</span>
        </a>
      </li>
      <li>
        <a routerLink="take-until" routerLinkActive="active"
          ><span>take-until</span>
        </a>
      </li>
      <li>
        <a routerLink="number-observable" routerLinkActive="active"
          ><span>number observable</span>
        </a>
      </li>

      <li>
        <a routerLink="basic-observable" routerLinkActive="active"
          ><span>basic-observable</span>
        </a>
      </li>
      <li>
        <a routerLink="api-request-service" routerLinkActive="active"
          ><span>api-request-service</span>
        </a>
      </li>
      <li>
        <a routerLink="of" routerLinkActive="active"><span>of</span> </a>
      </li>
      <li>
        <a routerLink="from-1" routerLinkActive="active"
          ><span>from 1</span>
        </a>
      </li>
      <li>
        <a routerLink="from-2" routerLinkActive="active"
          ><span>from 2</span>
        </a>
      </li>
      <li>
        <a routerLink="interval" routerLinkActive="active"
          ><span>interval</span>
        </a>
      </li>
      <li>
        <a routerLink="timer" routerLinkActive="active"><span>timer</span> </a>
      </li>
      <li>
        <a routerLink="fromEvent" routerLinkActive="active"
          ><span>fromEvent</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
